<div id="auraPlayerTable">
<table class="table table-condensed table-striped table-hover">
	<colgroup><col></colgroup>
		<thead>
			<tr><th>Name</th></tr>
		</thead>
		<tbody>
				<tr ng-class="{active: player.ID === state.player.ID}" ui-sref="home.encounter.auras.display({e: e.ID, p: player.ID})" ng-repeat="player in e.PlayerDPS | orderBy:orderFunction">
					<td><img class="tableIcon" ng-src="icons/{{player.Spec | specIconString}}" />{{player.Name}}</td>
				</tr>
		</tbody>
</table>
</div>