<div id="dpsTable">
<table class="table table-condensed table-striped table-hover">
	<colgroup><col><col><col></colgroup>
		<thead>
			<tr><th>Name</th><th>Damage</th><th>DPS</th></tr>
		</thead>
		<tbody>
				<tr ui-sref="home.encounter.damage.spells({e: e.ID, p: player.ID})" class="dmg-animation-appear" ng-repeat="player in e.PlayerDPS | orderBy:orderFunction">
					<td><img class="tableIcon" ng-src="icons/{{player.Spec | specIconString}}" />{{player.Name}}</td>
					<td>
					<div style="width:{{barPercent(player.Damage)}}%" class="classBar bg-{{cssClass(player.Class)}}"></div>
					{{player.Damage | prettyNum}}</td>
					<td>{{player.DPS | prettyNum}}</td>
				</tr>
		</tbody>
</table>
</div>

